* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  height: 100%; } */

body {
  background: #ebbc7e9d;
  width: 100%;
  height: 100vh;
  background-image: url(/src/img/SunsetFeeling-e1512674741646.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#header {
  width: 100%;
  height: 150px;
  margin: 0;
  padding: 0;
}

.nav {
  width: 100%;
  height: 150px;
}
.top {
  width: 100%;
  height: 75px;

  /* border-bottom: 3px solid rgb(223, 172, 114); */
}
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  outline: none;
  left: 0;
  right: 0;
}
.row {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 4em;
  height: 4em;
  border: 2px solid rgba(243, 193, 101, 0.521);
  /* position: relative; */
}
.logo img {
  width: 100%;
  height: 100%;
  /* position: absolute; */
}

.search-container {
  overflow: hidden;
  float: right;
  height: 4em;
  width: 4em;
  border-radius: 2em;
  box-shadow: 0 0 5px #6a5d4f;
  -moz-transition: all 0.35s;
  -webkit-transition: all 0.35s;
}
.search-container:hover,
.search-container:focus,
.search-container:focus-within {
  width: 25em;
  border-radius: 5px 2em 2em 5px;
  outline: none;
}
.search-container:hover input,
.search-container:focus input,
.search-container:focus-within input {
  display: inline-block;
  width: 19em;
  padding: 10px;
}

input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  float: left;
  width: 0em;
  height: 2em;
  margin: 1em;
  margin-right: -4.5em;
  background: #fff;
  color: #6a5d4f;
  font-size: 1em;
  font-weight: 600;
  padding: 0px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
}
input:focus {
  outline: none;
  box-shadow: 0 -1px 1px rgba(223, 170, 170, 0.25),
    0 1px 5px rgba(0, 0, 0, 0.15);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  width: 1.75em;
  height: 1.75em;
  margin: 0.125em;
  background: #e4ae74;
  text-align: center;
  font-size: 2em;
  color: #fdf6e3;
  border-radius: 50%;
  box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25),
    0 1px 1px rgba(0, 0, 0, 0.25);
  text-shadow: 0 -2px 1px rgba(0, 0, 0, 0.3);
}
.button:active {
  border: 0 !important;
  text-shadow: 0 0 0;
}
.button img {
  width: 100%;
}
.button i {
  font-size: 85%;
}
.bottom {
  width: 100%;
  height: 75px;
  align-items: center;
}

.user {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: #d6451862;
  margin-left: 100px;
  margin-top: 8px;
}
.user img {
  margin-top: 20%;
  margin-left: 10%;
  align-items: center;
  width: 80%;
  height: 50%;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menu ul {
  font-size: larger;
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
}
.menu ul li {
  color: rgb(240, 255, 242);
  font-family: "Tangerine", serif;
  font-size: normal;
  text-shadow: 4px 4px 4px #aaa;
  position: relative;
}


.menu ul li a {
  width: 100px;
  color: rgb(240, 255, 242);
  font-family: "Tangerine", serif;
  font-size: normal;
  text-shadow: 4px 4px 4px #aaa;
}


.insurance a {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 290px;
  height: 35px;
  margin-right: 25%;
  background-color: #d6451862;
}
.insurance a img {
  width: 20px;
  height: 20px;
}
.insurance a p {
  font-size: normal;
  color: #fdf6e3;
  text-align: center;
  margin-top: 10px;
  margin-left: 2px;
  padding-left: 0;
}

#section1 {
  width: 100%;
  height: 100vh;
  /* background-image: url(/src/img/bg-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}

#section1 .container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.services {
  width: 100%;
  /* display: flex;
  flex-direction: column; */
}
.main-title h1 {
  margin-left: 85px;
  color: rgb(240, 255, 242);
  font-family: "Tangerine", serif;
  font-size: normal;
  text-shadow: 4px 4px 4px #aaa;
}
.main-title p {
  margin-left: 300px;
  color: rgb(240, 255, 242);
  font-family: "Tangerine", serif;
  text-shadow: 4px 4px 4px #aaa;
}
.servises .window {
  width: 100%;
}

.services .window .service {
  width: 83%;
  transition: 0.2s;
  display: flex;
  align-items: center;
  position: relative;
}
.service img {
  width: 50px;
  height: 50px;
  background-color: #523f3942;
  border-radius: 12%;
}
.slider {
  margin-top: 20px;
}
.offer {
  margin-left: 350px;
}
.main-title,
.main-title a {
  color: rgb(240, 255, 242);
  font-family: "Tangerine", serif;
  font-size: normal;
  text-shadow: 4px 4px 4px #aaa;
}
.main-title a:visited {
  color: #cf3232;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin-top: 25px;
  /* margin: auto; */
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #070606f5;
  font-size: larger;
  font: bolder;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 6s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
