* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100%;
  background-image: url(/src/img/SunsetFeeling-e1512674741646.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#header {
  width: 100%;
  height: 150px;
  margin: 0;
  padding: 0;
  background-color: rgba(22, 22, 107, 0.466);
}

.nav {
  width: 100%;
  height: 150px;
}
.top {
  width: 100%;
  height: 50%;
  padding: 10px 0px;
  position: relative;
  border-bottom: 1px solid rgb(223, 172, 114);
}
.top .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  outline: none;
  left: 0;
  right: 0;
}
.top .container .row {
  width: 100%;
}

.logo {
  width: 4em;
  height: 4em;
  border: 2px solid rgba(243, 193, 101, 0.521);
  border-radius: 30%;
}
.logo img {
  width: 100%;
  height: 100%;
  border-radius: 30%;
}
#logos {
  gap: 3%;
}
.search-container {
  overflow: hidden;
  height: 4em;
  width: 4em;
  border-radius: 2em;
  box-shadow: 0 0 5px #6a5d4f;
  -moz-transition: all 0.35s;
  -webkit-transition: all 0.35s;
}
.search-container:hover,
.search-container:focus,
.search-container:focus-within {
  width: 25em;
  border-radius: 5px 2em 2em 5px;
  outline: none;
}
.search-container:hover input,
.search-container:focus input,
.search-container:focus-within input {
  display: inline-block;
  width: 19em;
  padding: 10px;
}

input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  float: left;
  width: 0em;
  height: 2em;
  margin: 1em;
  margin-right: -4.5em;
  background: none;
  color: #eedbc8;
  font-size: 1em;
  font-weight: 600;
  padding: 0px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
}
input:focus {
  outline: none;
  box-shadow: 0 -1px 1px rgba(223, 170, 170, 0.25),
    0 1px 5px rgba(0, 0, 0, 0.15);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  width: 1.75em;
  height: 1.75em;
  margin: 0.125em;
  background: #e4ae74;
  text-align: center;
  font-size: 2em;
  color: #fdf6e3;
  border-radius: 50%;
  box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25),
    0 1px 1px rgba(0, 0, 0, 0.25);
  text-shadow: 0 -2px 1px rgba(0, 0, 0, 0.3);
}
.button:active {
  border: 0 !important;
  text-shadow: 0 0 0;
}
.button img {
  width: 100%;
}
.button i {
  font-size: 85%;
}
.user {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: #d6451862;
  position: relative;
}

.user img {
  margin-top: 18%;
  margin-left: 9%;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
}
.bottom {
  width: 100%;
  height: 50%;
  align-items: center;
}
.bottom .row {
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
}
.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.col-8 ul {
  font-size: larger;
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
}
.col-8 ul li {
  color: rgb(240, 255, 242);
  font-family: "Tangerine", serif;
  font-size: normal;
  text-shadow: 4px 4px 4px #aaa;
  position: relative;
}

.col-8 ul li a {
  width: 100px;
  color: rgb(240, 255, 242);
  font-family: "Tangerine", serif;
  font-size: normal;
  text-shadow: 4px 4px 4px #aaa;
}

/* #item {
  display: flex;
  flex-direction: column;
}
#georgian {
  rotate: 45 (deg);
  animation: georgian 6s infinite;
}
@keyframes georgian {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: darkgoldenrod;
  }
  100% {
    background-color: transparent;
  }
}
#foreign {
  rotate: 45 (deg);
  animation: foreign 6s infinite;
}
@keyframes foreign {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: darkgoldenrod;
  }
  100% {
    background-color: transparent;
  }
} */
.insurance {
  border-radius: 1px solid #9a8ee08a;
}
.insurance a {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.insurance a img {
  width: 20px;
  height: 20px;
}
.insurance a p {
  font-size: normal;
  color: #fdf6e3;
  text-align: center;
  margin-top: 10px;
  margin-left: 2px;
  padding-left: 0;
}

#section1 {
  width: 100%;
  height: 100vh;
  background-color: rgba(22, 22, 107, 0.466);
}

#section1 .container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.services {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-title h1 {
  color: rgb(240, 255, 242);
  font-family: "Tangerine", serif;
  font-size: normal;
  text-shadow: 4px 4px 4px #aaa;
  align-items: center;
}
.servises .window {
  width: 100%;
}

.services .window .row {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.window .row a {
  color: rgb(240, 255, 242);
  font-family: "Tangerine", serif;
  font-size: large;
  text-shadow: 4px 4px 4px #aaa;
}
.window .row a img {
  width: 20%;
  height: 20%;
}
.slider {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.offer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-title,
.main-title a {
  color: rgb(240, 255, 242);
  font-family: "Tangerine", serif;
  font-size: normal;
  text-shadow: 4px 4px 4px #aaa;
}
.main-title a:visited {
  color: #cf3232;
}
.slideshow-container {
  width: 50%;
  height: 25%;
  position: relative;
  margin-left: 25%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: none;
}

/* Caption text */
.text {
  color: rgb(192, 95, 5);
  font-family: "Tangerine", serif;
  text-shadow: 4px 4px 4px rgb(224, 157, 55);
  font-size: larger;
  font: bolder;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dots {
  text-align: center;
}
.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 5s;
}

@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

#footer {
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: 1%;
}
.footer_content .row .container ul {
  display: flex;
  width: 100%;
  list-style-type: none;
}
.footer_content .row .container ul li:hover {
  color: rgb(240, 255, 242);
  font-family: "Tangerine", serif;
  font-size: large;
  text-shadow: 4px 4px 4px #aaa;
}
.footer_a {
  color: rgb(187, 235, 193);
  font-family: "Tangerine", serif;
  font-size: normal;
  text-shadow: 4px 4px 4px rgb(168, 125, 125);
}
