* {
  margin: 0;
  padding: 0;
}

/* html {
  height: 100%; } */

/* body {
  height: 100vh;
  background: #FDF6E3; } */

#header {
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
}

.nav{
  width: 100%;
  height: 80px;
}
.top{
  width: 100%;


}
.container {
  width: 100%;
  height: 80px;
  outline: none;
  left: 0;
  right: 0;
}
.row {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 4em;
  height: 4em;
  border: 2px solid rgba(243, 193, 101, 0.521);
  /* position: relative; */
}
.logo img {
  width: 100%;
  height: 100%;
  /* position: absolute; */
}

.search-container {
  overflow: hidden;
  float: right;
  height: 4em;
  width: 4em;
  border-radius: 2em;
  box-shadow: 0 0 5px #6a5d4f;
  -moz-transition: all 0.35s;
  -webkit-transition: all 0.35s;
}
.search-container:hover,
.search-container:focus,
.search-container:focus-within {
  width: 25em;
  border-radius: 5px 2em 2em 5px;
  outline: none;
}
.search-container:hover input,
.search-container:focus input,
.search-container:focus-within input {
  display: inline-block;
  width: 19em;
  padding: 10px;
}

input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  float: left;
  width: 0em;
  height: 2em;
  margin: 1em;
  margin-right: -4.5em;
  background: #fff;
  color: #6a5d4f;
  font-size: 1em;
  font-weight: 600;
  padding: 0px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
}
input:focus {
  outline: none;
  box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25),
    0 1px 5px rgba(0, 0, 0, 0.15);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  width: 1.75em;
  height: 1.75em;
  margin: 0.125em;
  background: #e4ae74;
  text-align: center;
  font-size: 2em;
  color: #fdf6e3;
  border-radius: 50%;
  box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25),
    0 1px 1px rgba(0, 0, 0, 0.25);
  text-shadow: 0 -2px 1px rgba(0, 0, 0, 0.3);
}
.button:active {
  border: 0 !important;
  text-shadow: 0 0 0;
}
.button img {
  width: 100%;
}
.button i {
  font-size: 85%;
}

.right {
  width: 4em;
  display: flex;
  max-width: 5%;
  height: 4em;
  top: 0;
  left: 0;
}

.drop-wrap {
  width: 100%;
  overflow: unset;
}
.dropdown {
  width: 100%;
   height: 10px;
   position: relative;
}

.drop-btn button {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 2px solid rgb(223, 213, 213);
  border-radius: 40%;
 cursor: pointer;
}
.dropdown .selected {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 2px solid rgb(223, 213, 213);
  border-radius: 40%;
  cursor: pointer;
  height: 40px;
  padding: 0 15px!important;
}
.selected span {
  font-size: 14px;
  color: #546e7a;
}
 span img {
  width: 100%;
  height: 10vh;
  transition-delay: 0.2s;
  margin-right: 0;
 }
 button img {
  width: 60%;
  height: 30px;
  margin-left: 0;
  padding: 0;
  border: 2px solid white;
  vertical-align: middle;
}

.languages{
  background-color: #F0F7FC;
  position: absolute;
  top: calc( 100% + 10px);
  left: 0px;
  width: 100%;
  border-radius: 12px;
  max-height: 0px;
  padding: 0px 10px;
  /* overflow: hidden; */ დაიმაება კონტენტი
  left: 50%;
  transform: translateX(-50%);
  /* width: 300px;
  background-color: white; */
}

ul{
  list-style-type: none;
}
.user{
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: #f0d0ad62;
}
 .user img{
  margin-top: 20%;
  margin-left: 10%;
  align-items: center;
  width: 80%;
  height: 50%;
  
 }
 .bottom{
  width: 100%;
 }
 .container2{
  width: 100%;
}

 .menu{
  width: 100%;
  display: flex;
  justify-content: space-between;
 }
 .menu ul{
  font-size:larger;
  display: flex;
  justify-content: center;
  gap:20px
 }
 .menu a{
  width: 100px;
  height: 40px;
  margin-right: 25%;
  border-radius: 30%;
  background-color:#aff0ad62;
 }
 .menu a img{
  width: 20px;
  height: 20px;
  margin-top: 5px;
  align-items: center;
 }

